.container{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    max-width: 700px;
    padding-top: 50px;
}

.index {
    font-size: var(--fz-xxl);
    font-weight: 400;
    color: var(--green);
}

.heading {
    font-family: 'Cyberpunk', sans-serif;
    font-size: var(--fz-heading);
    color: var(--black-color);
    font-weight: 600;
    margin-left: 15px;
    color: var(--red-color);
}

.line {
    flex-grow: 1;
    height: 1.5px;
    background: var(--black-color);
    align-self: center;
    margin-left: 15px;
}